:root {
  --primary-color: #ccabda;
  --background-color: #ffffff;
  --text-color: #000000;
  --font-family: "Arial", sans-serif;
}
akronim-regular {
  font-family: "Akronim", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cairo {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}
nav {
  width: 100%;
  background-color: var(--primary-color);
  height: 94px;
  padding: 0px 144px;
}

.nav-container {
  width: 1200px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(11, auto);
  align-items: center;
  margin: auto;
}

#logo {
  font-family: "Akronim", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #f7f7f7;
  margin: 0px;
}

.nav-links li {
  list-style: none;
  padding-left: 0px;
  text-align: center;
}

.nav-item {
  text-decoration: none;
  color: #f7f7f7;
}

.icons a {
  display: inline-flex;
  justify-content: space-between;
  width: 50px;
  font-size: 24px;
  color: #f7f7f7;
  text-decoration: none;
  transition-duration: 0.5s;
}

.icons a:hover {
  color: #222222;
}

.contener {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
}

.contener .side_image {
  width: 805px;
  height: 780px;
  margin: 0 auto;
  background-color: #cbe4e8;
  border-radius: 4px;
  border: 2px solid #cbe4e8;
}

.form-container {
  margin: 0 auto;
  padding: 20px;
  position: relative;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 10px solid var(--background-color);
}

.contener h1 {
  width: 450px;
  height: 30px;
  color: var(--text-color);
  font-size: 36px;
  margin-bottom: 20px;
  position: relative;
  right: 130px;
}

.contener p {
  width: 400px;
  height: 25px;
  color: var(--text-color);
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
  right: 130px;
}

.contener .form-container .email,
.contener .form-container .password {
  width: 400px;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
  position: relative;
  right: 130px;
  border-top-color: var(--background-color);
  border-left-color: var(--background-color);
  border-right-color: var(--background-color);
}
.contener .form-container .email:focus,
.contener .form-container .password:focus {
  outline: none;
  border-color: var(--primary-color);
}
.contener .form-container .email:focus::placeholder,
.contener .form-container .password:focus::placeholder {
  color: var(--primary-color);
}
.pass {
  position: relative;
  width: 100%;
}

.eye {
  position: absolute;
  left: 120px;
  top: 40%;
  transform: translateY(-50%);
  background: var(--background-color);
  border: none;
  cursor: pointer;
  color: #999;
  font-size: 17px;
}

.contener .form-container .button {
  width: 370px;
  height: 55px;
  display: flex;
  flex-direction: row;
  position: relative;
  right: 130px;
}

.contener .form-container .do {
  width: 260px;
  height: 55px;
  padding: 10px;
  color: var(--background-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transform: 0.3s;
}

.contener .form-container .do:hover {
  background-color: #b38ac0;
  letter-spacing: 0.5px;
}

.contener .form-container .forgot-password a {
  font-size: 16px;
  position: relative;
  left: 150px;
  top: 1px;
  color: var(--primary-color);
  text-decoration: none;
  white-space: nowrap;
  text-align: right;
  display: block;
}
