:root {
  --main-color: #ccabda;
  --sub-color1: #222222;
  --sub-color2: #ffdd95;
  --sub-color3: #5cb7a2;
  --main-background-color: #f7f7f7;
}

/* effects */
.underline-effect-white {
  background-image: linear-gradient(#f7f7f7, #f7f7f7);
  background-size: 0 5px;
  background-position: 0 115%;
  background-repeat: no-repeat;
  transition: background-size 0.2s;
  width: fit-content;
}

.underline-effect-white:hover {
  background-size: 100% 5px;
}

.underline-effect-black {
  background-image: linear-gradient(#222222, #222222);
  background-size: 0 5px;
  background-position: 0 115%;
  background-repeat: no-repeat;
  transition: background-size 0.2s;
  width: fit-content;
}

.underline-effect-black:hover {
  background-size: 100% 5px;
}

.akronim-regular {
  font-family: "Akronim", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cairo {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0px;
  background-color: var(--main-background-color);
}

nav {
  width: 100%;
  background-color: var(--main-color);
  height: 94px;
  padding: 0px 144px;
}

.nav-container {
  width: 1200px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(11, auto);
  align-items: center;
  margin: auto;
}

#logo {
  font-family: "Akronim", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #f7f7f7;
  margin: 0px;
}

.nav-links li {
  list-style: none;
  padding-left: 0px;
  text-align: center;
}

.nav-item {
  text-decoration: none;
  color: #f7f7f7;
}

.icons a {
  display: inline-flex;
  justify-content: space-between;
  width: 50px;
  font-size: 24px;
  color: #f7f7f7;
  text-decoration: none;
  transition-duration: 0.5s;
}

.icons a:hover {
  color: #222222;
}

footer {
  background-color: #222222;
  width: 100%;
  height: 440px;
  height: fit-content;
}

.footer-container {
  color: #f7f7f7;
  height: fit-content;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
}

.footer-sections h3 {
  font-size: 20px;
  font-weight: 500;
  padding-left: 3px;
}

.footer-sections {
  padding: 80px 0px 0px 0px;
}

.footer-section-content5 .img-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 8px;
}

.socials {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.footer-section-content i {
  height: 15px;
  font-size: 24px;
  color: var(--main-background-color);
  transition-duration: 0.3s;
}

.fa-facebook-f:hover {
  color: #1877f2;
}

.fa-instagram:hover {
  color: #e4405f;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-linkedin-in:hover {
  color: #0077b5;
}

.footer-section-content a {
  text-decoration: none;
}

.footer-section-content4 a {
  display: block;
  margin: 16px 0px;
  color: #f7f7f7;
}

.footer-section-content3 a {
  display: block;
  margin: 16px 0px;
  color: #f7f7f7;
}

.footer-section-content2 h5 {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin: 16px 0px;
  color: #f7f7f7;
}

.footer-section-content1 h5 {
  font-size: 16px;
  font-weight: 500;
}

.footer-section-content1 input {
  background-color: #222222;
  border: #f7f7f7 solid 1px;
  width: 217px;
  height: 48px;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 4px;
}

.footer-section-content1 i {
  position: absolute;
  right: 36px;
  top: 12px;
  cursor: pointer;
  transition-duration: 0.1s;
}

.footer-section-content1 i:hover {
  top: 10px;
}

.footer-section-content1 .email-sec {
  display: flex;
  position: relative;
}

footer > h5 {
  padding: 5px 0px;
  margin: 0px;
  text-align: center;
  color: #f7f7f7;
  font-size: 12px;
}

footer > hr {
  color: #f7f7f7;
  margin: 0px;
}

.container {
  width: 1200px;
  margin: auto;
  margin-bottom: 50px;
}
